 @import '../../assets/variables.scss';

 // Массив цветов, которые необходимы для заливки квадратов, импортируем их из variables.scss
 // Порядок цветов должен соответствовать порядку их определения в миксине
$colors: $dark-shadow, $dark-shadow-75, $dark-shadow-50,
         $dark-shadow-25, $dark-shadow-05, $purple, $green;

// Задаем на один меньше, потому что в миксине отсчет идет от нуля, а в списки цветов от еденицы 
// особенность списков препроцессора scss.
$maxRectangles: 6;

$mainFont: $montserrat-bold;

.content-colors-type {
    margin-left: auto;
    margin-right: auto;
    font-family: $mainFont;
    color: nth($colors, 1);
    font-size: 19px;
    max-height: 900px;
}

.colors {
    width: 282px;
    height: 610px;
    margin-top: 145px;
    margin-left: 150px;
    position: absolute;
    .colors-element {
        margin-bottom: 10px;
        &__rectangle {
            width: 70px;
            height: 70px;
            border-radius: 6px;
            display: inline-block;
        }
        //Формируем в цикле дополнительный класс для элемента квадрат и определяем цвет заливки
        @for $i from 0 through $maxRectangles {
            ._number#{$i} { 
              background-color: nth($colors, $i + 1);
            }
          }
        &__text{
            display: inline-block;
            vertical-align: top;
            margin-left: 30px;
            margin-top: 10px;
            .color-hex {
                margin-top: 10px;
                font-family: $montserrat-regular;
            }
        }
            
    }
}

.text-examples {
    width: 436px;
    height: 321px;
    text-align: center;
    vertical-align: top;
    margin-top: 145px;
    margin-left: 846px;
    position: absolute;
    .text__headline {
        vertical-align: top;
        display: inline-block;
        width: 20%;
        font-family: $montserrat-regular;
    }

    .h1 {
        font-size: 24px;
    }

    .h3 {
        font-size: 12px;
    }

    .body {
        font-size: 14px;
        color: nth($colors, 2);
        font-family: $montserrat-regular;
    }

    .text__example {
        text-align: left;
        vertical-align: top;
        display: inline-block;
        width: 80%;
       
    }
}