include ./colors-mixin

.content-colors-type
    +colorsMixin(colorName, colorRectangle, colorHex)
    .types 
        h1 hkjvfzsd 
        h2 kfdgd'gd 
        h3 kjsfdfsdf
        p jASOJfofjopjfsopd