include ./colors-mixin

.content-colors-type
    +colorsMixin()
    .text-examples
        .text 
            div(class='text__headline', class='h1')
                h1 H1 
            div(class='text__example', class='h1')
                h1 This one is the sub-section or widget title
            div(class='text__headline', class='h2')
                h2 H2 
            div(class='text__example', class='h2')
                h2 Next one is the item title inside widgets
            div(class='text__headline', class='h3')
                h3 H3 
            div(class='text__example', class='h3')
                h3 This is a label or CTA text
            div(class='text__headline', class='body')
                p body
            div(class='text__example', class='body')
                p 
                   |This is the body text which is used for most
                   |of the design, like paragraphs, lists, etc.