//-
    Миксин для формирования блока colors страницы проекта ui kit, который содержит
    квадраты с примерами цветов, использованных в проекте и их описанием.
    
    Параметры определенны в самом миксине
        mainColor
            Основной цвет для текста описания квадратов
        mainHexValue
            Основное шестнадцатиричное представление цвета для текста описания квадратов
        colorsProperty
            Массив объектов в котором храняться итоговые текстовые данные
  //

- var mainColor = 'Dark Shade';
- var mainHexValue = '#1F2041';

- 
    var colorsProperty = [
        {name: mainColor + ' 100%', hexValue: mainHexValue},
        {name: mainColor + ' 75%', hexValue: mainHexValue}, 
        {name: mainColor + ' 50%', hexValue: mainHexValue},
        {name: mainColor + ' 25%', hexValue: mainHexValue},
        {name: mainColor + ' 5%', hexValue: mainHexValue},
        {name: 'Purple', hexValue: '#BC9CFF'},
        {name: 'Green', hexValue: '#6FCF97'}
        ];

mixin colorsMixin()
    .colors
        each property, index in colorsProperty 
            .colors-element
                div(class='colors-element__rectangle' class='_number' + index)
                .colors-element__text
                    .color-name
                        span= property.name
                    .color-hex
                        span= property.hexValue 