 @import '../../assets/variables.scss';

 // Массив цветов, которые необходимы для заливки квадратов, импортируем их из variables.scss
 // Порядок цветов должен соответствовать порядку их определения в миксине
$colors: $dark-shadow, $dark-shadow-75, $dark-shadow-50,
         $dark-shadow-25, $dark-shadow-05, $purple, $green;

// Задаем на один меньше, потому что в миксине отсчет идет от нуля, а в списки цветов от еденицы 
// особенность списков препроцессора scss.
$maxRectangles: 6;

$mainFont: $montserrat-bold;

.content-colors-type {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    font-family: $mainFont;
    color: nth($colors, 1);
}

.colors {
    width: 50%;
    display: inline-block;
    background-color: aquamarine;
    .colors-element {
        background-color: darksalmon;
        margin-bottom: 10px;
        &__rectangle {
            width: 70px;
            height: 70px;
            display: inline-block;
        }
        //Формируем в цикле дополнительный класс для элемента квадрат и определяем цвет заливки
        @for $i from 0 through $maxRectangles {
            ._number#{$i} { 
              background-color: nth($colors, $i + 1);
            }
          }
        &__text{
            background-color: darksalmon;
            display: inline-block;
            vertical-align: top;
            margin-left: 30px;
            margin-top: 10px;
            .color-name {
                background-color: darkslategrey;
            }
            .color-hex {
                background-color: deeppink;
                margin-top: 10px;
            }
        }
            
    }
}

.text-examples {
    text-align: center;
    vertical-align: top;
    width: 50%;
    display: inline-block;
    background-color: cadetblue;
    .text__headline {
        background-color: deeppink;
        vertical-align: top;
        display: inline-block;
        width: 20%;
        .h1 {
            font-size: 24px;
        }
        .h2 {
            font-size: 19px;
        }
        .h3 {
            font-size: 12px;
        }
        .body {
            font-size: 14px;
        }
    }
    .text__example {
        background-color: forestgreen;
        text-align: left;
        vertical-align: top;
        display: inline-block;
        width: 80%;
        .h1 {
            font-size: 24px;
        }
    }
}