- var mainColor = 'Dark Shade';
- var mainHexValue = '#1F2041';

- 
    var colorsProperty = [
        {name: mainColor + '100%', hexValue: mainHexValue, color: 'rgb(#1F2041, .75)'},
        {name: mainColor + '75%', hexValue: mainHexValue, color: 'rgb(#1F2041, .75)'}, 
        {name: mainColor + '50%', hexValue: mainHexValue, color: 'rgb(#1F2041, .75)'},
        {name: mainColor + '25%', hexValue: mainHexValue, color: 'rgb(#1F2041, .75)'},
        {name: mainColor + '5%', hexValue: mainHexValue, color: 'rgb(#1F2041, .75)'},
        {name: 'Purple', hexValue: '#BC9CFF', color: 'rgb(#1F2041, .75)'},
        {name: 'Green', hexValue: '#6FCF97', color: 'rgb(#1F2041, .75)'}
        ];

mixin colorsMixin()
    .colors
        each text in colorsProperty 
            .colors-element
                .bla 
                    span text.color
                .colors-element__rectangle(style={background: text.hexValue, opacity: '0.5'})
                .colors-element__text
                    .color-name
                        span= text.name
                    .color-hex
                        span= text.hexValue 