include ../components/head/head


doctype html
html(lang="ru")
    +headTitle('UI Kit')
    body
        .header 
            .header__logo 
        .content-colors-type
            include ./colors-type/colors-type.pug