include ../components/head/head

doctype html
html(lang="ru")
    +headTitle('UI Kit')
    body
        .header 
            .header__logo 
        .content-colors-type
            .colors
                .colors-element
                    .colors-element__rectangle 
                    .colors-element__text
                        .color-name
                            span Dark Shade 100%
                        .color-hex
                            span #1F2041 
                .colors-element
                    .colors-element__rectangle 
                    .colors-element__text
                        .color-name
                            span Dark Shade 100%
                        .color-hex
                            span #1F2041     
            .types 
                h1 hkjvfzsd 
                h2 kfdgd'gd 
                h3 kjsfdfsdf
                p jASOJfofjopjfsopd