include ../components/head/head


doctype html
html(lang="ru")
    +headTitle('UI Kit')
    body
        .content-colors-type
            .header-content
                .header__logo 
            include ./colors-type/colors-type.pug
        .content-headers-footers
            .header-content
                .header__logo 