include ../components/head/head

doctype html
html(lang="ru")
    +headTitle('UI Kit')
    body
        .header 
            .header__logo 
            .header__headline 
                h1 Test