include ../components/head/head
include ./colors-type/colors-mixin

doctype html
html(lang="ru")
    +headTitle('UI Kit')
    body
        .header 
            .header__logo 
        .content-colors-type
            +colorsMixin(colorName, colorRectangle, colorHex)
            .types 
                h1 hkjvfzsd 
                h2 kfdgd'gd 
                h3 kjsfdfsdf
                p jASOJfofjopjfsopd