.header-for-unregistered
    .logo 
        include ../../components/logo-img/logo-img.pug
.header-for-registered 
    .logo 
        include ../../components/logo-img/logo-img.pug
.full-footer
    .logo 
        include ../../components/logo-img/logo-img.pug
.footer-copyright-socnetworks
    .logo 
        include ../../components/logo-img/logo-img.pug