.header-for-unregistered
    .logo 
        include ../../components/logo-img/logo-img.pug
    .menu
    .buttons
        .buttons__entry 
        .button__registred
.header-for-registered 
    .logo 
        include ../../components/logo-img/logo-img.pug
    .menu 
    .user-name
.full-footer
    .logo 
        include ../../components/logo-img/logo-img.pug
.footer-copyright-socnetworks
    .logo 
        include ../../components/logo-img/logo-img.pug