@import '../../components/logo-img/logo-img.scss';

.content-headers-footers {
    margin-left: auto;
    margin-right: auto;
    //font-family: $mainFont;
    //color: nth($colors, 1);
    font-size: 19px;
    max-height: 1350px;
    background-color: blueviolet;
}