/*
    Файл содержит переменные в которых будут определенны общие для всего проекта компоненты
*/

@import './fonts/font-connection-mixin.scss';

/*
    Определяем основные шрифты проекта через импортированный миксин и присваеваем их в переменные
*/

@include setFont('Montserrat-Bold', './fonts/Montserrat/Montserrat-Bold', normal, normal);
@include setFont('Montserrat-Regular', './fonts/Montserrat/Montserrat-Regular', normal, normal);

$montserrat-bold: 'Montserrat-Bold';
$montserrat-regular: 'Montserrat-Regular';

/*
    Основные цвета оформления
*/

$dark-shadow: #1f2041;
$dark-shadow-75: rgb($dark-shadow, .75);
$dark-shadow-50: rgb($dark-shadow, .50);
$dark-shadow-25: rgb($dark-shadow, .25);
$dark-shadow-05: rgb($dark-shadow, .05);
$purple: #bc9cff;
$green: #6fcf97;