include components/head/head

doctype html
html(lang="ru")
    +headTitle('Index page metalamp-task-2')
    body
        .content
            .header 
                .header__logo 
                    include ./components/logo-img/logo-img.pug
                .logo-text 
                    h3 for Metalamp
            hr
            .project-info
                .headline 
                    h1 Задание номер 2 для компании MetaLamp
                .info-about-project 
                    p 
                        | В задание были сверстанны страницы по поиску номеров в отеле, с использованием
                        | БЭМ, препроцессора SCSS, шаблонизатора PUG. Сборка проекта была осуществленна
                        | с помощью Webpack.
            hr
            .list-refs
                .list-refs__headline 
                    h2 Ссылки на страницы