include components/head/head

doctype html
html(lang="ru")
    +headTitle('Index page metalamp-task-2')
    body
        .header 
            .logo-img 
            .logo-text 
                h3 for Metalamp
        .project-info
            .headline 
                h1 Ссылки на страницы задания номер 2
            .info-about-project 
                p 
                    | Страницы по поиску номеров в отеле. Сверстанные с использованием
                    | БЭМ, препроцессора, шаблонизатора. Сборка проекта была осуществленна
                    | с помощью Webpack.
        .list-refs
            ol 
                li dfgdgd
                li gdfgdg
                li dgdfgd