@import './assets/variables.scss';
@import './components/logo-img/logo-img.scss';

html {
    font-size: 14px;
}

body {
    font-family: $montserrat-bold;
    color: $dark-shadow;
    max-width: 100%;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
}

.header__logo {
    width: 50%;
    display: inline-block;
}

.logo-text {
    width: 50%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

hr {
    /* установим цвет и высоту */
    border: 3px solid $purple;
    border-bottom-width: 0;
}

.project-info {
    text-align: center;
}

.list-refs {
    text-align: center;
}

.list-refs__list {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
    font-family: $montserrat-regular;
    li {
        padding-top: 1.2rem;
    }
    a {
        color: $dark-shadow-75;
    }
}