@import './assets/variables.scss';
@import './components/logo-img/logo-img.scss';

html {
    font-size: 14px;
}

body {
    font-family: $montserrat-bold;
    max-width: 1440px;
}

.logo-img {
    width: 7.6rem;
    height: 2.8rem;
}